*~
# ignore everything in lib except for fblike.js
lib/*
!lib/scripts
lib/scripts/*
!lib/scripts/fblike.js

# ignore everything in bootstrap except variables.less
bootstrap/*
!bootstrap/less/variables.less


public/styles/*.css
.sass-cache
node_modules
