extends page

block styles
  link(type="text/css", rel="stylesheet", href="styles/index.css")

block scripts
  script(type="text/javascript", src="/scripts/bootstrap/bootstrap-carousel.js")
  script(type="text/javascript", src="/scripts/fblike.js")

block main
  .modal.hide.fade


  .container-fluid#main
    .row-fluid
      .span3
        .sidebar-nav.well
          ul.nav.nav-list
            li
              a(data-toggle="modal", href="#amenities") Amenities
            li
              a(data-toggle="modal", href="#thingstodo") Things to do
            li
              a(data-toggle="modal", href="#transportation") Transportation
          .fb-like(data-href="https://www.facebook.com/pages/Winter-Park-Elk-Court-Escapes/170710176307706", data-send="false", data-width="225px", data-show-faces="true", data-font="arial")
      .span9
        .hero-unit
          h1 Winter Park Elk Court Escapes
            #slideshow.carousel.slide
              .carousel-inner
                - var numImages = 7, i
                - for (i=1; i <= numImages ; i++)
                  .item
                    img(src="/images/#{i}.jpeg")
                a.left.carousel-control(href="#slideshow", data-slide="prev") &lsaquo;
                a.right.carousel-control(href="#slideshow", data-slide="next") &rsaquo;
          p These luxury cabins are simply the best value in the Fraser / Winter Park area
