extends page

block styles
  link(type="text/css", rel="stylesheet", href="styles/index.css")

block scripts
  script(type="text/javascript", src="/scripts/bootstrap/bootstrap-carousel.js")
  script(type="text/javascript", src="/scripts/social.js")
  script(type="text/javascript", src="/scripts/bootstrap/bootstrap-modal.js")
      
block main
  .container-fluid#main
    .row-fluid
      .span2
        .sidebar-nav.well
          ul.nav.nav-list
            li
              a(data-toggle="modal", href="#amenities") Amenities
            li
              a(data-toggle="modal", href="#thingstodo") Things to do
            li
              a(data-toggle="modal", href="#transportation") Transportation
          .social
            span.facebook
              .fb-root
              .fb-like(data-href="https://www.facebook.com/pages/Winter-Park-Elk-Court-Escapes/170710176307706", data-send="false", data-show-faces="false", data-font="arial", data-layout="button_count")
            span.twitter
              a.twitter-share-button(href="https://twitter.com/share", data-size="medium", data-text="Check out these great cabins in Winter Park, CO", data-lang="en")
            span.google-plus
              .g-plusone(data-size="medium")
      .span10
        .hero-unit
          h1 Winter Park Elk Court Escapes
            #slideshow.carousel.slide
              .carousel-inner
                - var numImages = 7, i
                - for (i=1; i <= numImages ; i++)
                  .item
                    img(src="/images/#{i}.jpeg")
                a.left.carousel-control(href="#slideshow", data-slide="prev") &lsaquo;
                a.right.carousel-control(href="#slideshow", data-slide="next") &rsaquo;
          p These luxury cabins are simply the best value in the Fraser / Winter Park area

      .modal.hide.fade#amenities
        .modal-header
          button.close(type="button", data-dismiss="modal")&times;
          h3 Amenities
        .modal-body
          h4 In-house Amenities
          ul
            li Gourmet kitchen with fresh ground coffee maker
            li Washer and dryer
            li Free wireless internet
            li 2 large LCD TV’s, stereo
            li All beds are king or queen size with premium mattresses
            li Outdoor gas grill
            li Hot Spring hot tub with salt water system to keep your skin silky smooth
          h4 Special Elk Court Services
          ul
            li In house massage - at spectacular rates from Lara Kurtak, certified massage therapist (Swedish, Deep Tissue, Neuromuscular, Stress Relief, Reiki/Energy work, Young Living Essential Oil Therapy).  Nothing is better after a vigorous day skiing or hiking.  BOOK EARLY.  There are also a number of SPA’s and massage centers in Fraser and Winter park minutes away.
            li Food service - give us your order (order form) before you arrive and the cabin will be fully stocked and ready for you saving the headache of shopping when you first arrive.
            li Catering or Private Chef - Rather than eating out, enjoy the relaxed atmosphere at Elk Court with an in house private chef.  A variety of menus from the simple to the sublime are available.  BOOK EARLY
            li Group Events - Let Grand Concierge help you plan an event to remember.  Family reunions, weddings, group outings, birthday & holiday celebrations.  There are four Elk Court Cabins located within steps of each other, each with 5 bedrooms.  An absolutely perfect setting for groups large and small
            li Lift tickets - Let us get your lift tickets for you in advance.  One less thing to worry about!
            li Child care - Let us help you find child care arrangements that meet YOUR needs
            li ANYTHING ELSE? - Just let us know, we can probably help you out.

        .modal-footer
          a(href="#", class="btn", data-dismiss="modal") Close
      .modal.hide.fade#thingstodo
        .modal-header
          button.close(type="button", data-dismiss="modal")&times;
          h3 Things to do
        .modal-body
          h4 Summer Activities
          ul
            li Biking
            li etc
          h4 Winter Activities
          ul
            li Skiing
            li etc
        .modal-footer
          a(href="#", class="btn", data-dismiss="modal") Close
      .modal.hide.fade#transportation
        .modal-header
          button.close(type="button", data-dismiss="modal")&times;
          h3 Transportation
        .modal-body
          h4 Skiing
          h4 Airport
          h4 Getting Around
          h4 Rental Cars
        .modal-footer
          a(href="#", class="btn", data-dismiss="modal") Close


