doctype 5
html
  head
    link(type="text/css", rel="stylesheet", href="styles/page.css")
    block styles
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type="text/javascript", src="/scripts/page.js")
    block scripts
  body
    title Winter Park Elk Court Escapes
    #content
      #header
        #logo 
          img(src="/images/logo.gif")
        #user
          if user
            p#loged_in_as
              | Logged in as #{user.fb.name || user.google.name || user.email}. 
              a#logout_button(href="/logout") Log out
          else
            a#signup_button(href="javascript: void(0);") Signup
            |  or 
            a#login_button(href="javascript: void(0);") Log in
        #title Winter Park Elk Court Escapes
      #main
        block main
    #login.floating
      include login
    #signup.floating
      include signup