doctype 5
html
  head
    link(type="text/css", rel="stylesheet", href="styles/page.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type="text/javascript", src="/scripts/page.js")
  body
    title Winter Park Elk Court Escapes
    #content
      #header
        #logo 
          img(src="/images/logo.gif")
        #user
          if user
            p#signed_in_as
              | Signed in as #{user.name || user.email}. 
              a#signout_button(href="/logout") Sign out
          else
            a#signin_button(href="javascript: void(0);") Sign in
        #title Winter Park Elk Court Escapes
      #main
        block main
    #signin
      include signin
