form(action="javascript: void(0);")
  label email
  input#signin_email(name="email")
  br
  label password
  input#signin_password(type="password", name="password")
  br
  input#signin_submit(type="submit", value="Sign in")