@import "login";
@import "slideshow";

#main {
    margin-top: 60px;
}

.fb-like {
    border: black 1px dashed;
    padding: 5px;
    margin-top: 20px;
}

.hero-unit h1 {
    text-align: center;
    font-size: 56px;
}
