@import "login";
@import "slideshow";

#main {
    margin-top: 60px;
}

.sidebar-nav {
    position: fixed;
}

.social {
    margin-top: 15px;
    margin-left: 15px;
    span {
        display: block;
        height: 21px;
        margin-bottom: 8px;
    }
}

.hero-unit h1 {
    text-align: center;
    font-size: 56px;
}
