@import "colors";
@import "header";

// reservations modal formatting
.rates {
    padding-bottom: 0;
    li {
        display: inline-block;
        width: 8.33%;
    }
    .bar { width: 100%; }
    .rate-blocks {
        position: relative;
        left: -4.33%;
        width: 100%;
        text-align: center;
    }
    #winter { width: 16.66%; }
    #peak { width: 8.33%; }
    #spring { width: 4.16%; }
    #summer { width: 58.33%; }
    #holiday { width: 12.5%; }
    .tip {
        border-radius: 6px;
        color: white;
        text-decoration: none;
    }
}