@import "colors";
@import "header";

.section {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ie-border-radius: 15px;
    width: 100%;
    padding: 15px;
}

body {
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: $background_color;
    text-size: 13pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content {
    width: 75%;
    margin: auto;
}

#main {
    @extend .section;
    background-color: $main_color;
}


